.about-us {
    text-align: center;
    min-height: calc(100vh - 120px - 80px);
}

.about-us h1{
    padding-top: 50px;
}

.about-us-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
}

.about-us-info img {
    width: 500px;
}

.about-us-info .description {
    max-width: 600px;
    /* margin: 0px auto;
    padding: 20px 0px; */
}