.contact-page {
    min-height: calc(100vh - 120px - 80px);
    text-align: center;
    padding-top: 40px;
    max-width: 350px;
    margin: 0px auto;
}

.contact-page p {
    font-size: 20px;
}

.contact-page .address {
    line-height: 10px;
}

@media (max-width: 400px) {
    .contact-page {
        max-width: 300px;
    }
}