.grade-label {
    position: relative;
}

.leaf-icon-Golden {
    color: rgb(221, 202, 35);
}

.leaf-icon-Amber {
    color: rgb(168, 152, 3);
}

.leaf-icon-Dark {
    color: rgb(136, 69, 6);
}

.leaf-icon-ExtraDark {
    color: rgb(77, 48, 22);
}

.grade-label p {
    color: white;
    font-size: 16px;
    position: absolute;
    z-index: 100;
}

.label-Golden {
    top: 20px;
    left: 21px;
}

.label-Amber {
    top: 20px;
    left: 21px;
}

.label-Dark {
    top: 20px;
    left: 29px;
}

.label-ExtraDark {
    top: 19px;
    left: 26px;
    width: 40px;
    line-height: 15px;
}