.leaf-icon-Amber {
    color: rgb(168, 152, 3);
}

.leaf-icon-Dark {
    color: rgb(136, 69, 6);
}

.leaf-icon-ExtraDark {
    color: rgb(77, 48, 22);
}

.grade-label p {
    color: black;
    z-index: 100;
}