.banner {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.home-about-us {
    height: 500px;
    background-color: rgb(188, 36, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.home-about-us-img {
    height: 300px;
    border-radius: 10px;
}

.home-about-us-info {
    display: flex;
}

.home-about-us p {
    font-size: 22px;
    max-width: 250px;
    text-align: center;
}