.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(245, 161, 119);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 50px;
}

.links {
    margin-right: 100px;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: white;
    margin-left: 50px;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px 13px;
    background-color: rgb(240, 117, 59);
}

.hamburger-menu {
    display: none;
    background-color: transparent;
    border: transparent;
    font-size: 30px;
    margin-right: 50px;
    cursor: pointer;
}

.hamburger-menu:hover {
    opacity: 0.6;
}

@media (max-width: 850px) {
    .links {
        display: none;
    }

    .links.menu-open {
        display: block;
        width: 200px;
        position: absolute;
        right: -100px;
        top: 80px;
        background-color: rgb(245, 161, 119);
        padding-top: 10px;
        z-index: 100;
    }

    .links.menu-open a {
        display: block;
        margin-bottom: 10px;
    }

    .links.menu-open a:hover {
        opacity: 0.3;
    }

    .hamburger-menu {
        display: inline;
    }
}