.recipe-page {
    text-align: center;
    min-height: calc(100vh - 120px - 80px);
}

.recipe-page h1 {
    padding-top: 40px;
}

.recipe li {
    list-style-type: none;
}

.recipe p {
    max-width: 600px;
    margin: 20px auto;
}