.shop {
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
    margin-bottom: 20px;
}

.product img {
    width: 200px;
    border-radius: 5px;
}

.product h2 {
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 3px;
}

.product p {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px;
}